
<style>

html {
  background-color: #000000 !important;
}
	
body {
 background-color: #000;  
 font-family: "Times New Roman", Times, serif;
}

h1 {
  margin-bottom: 0;

}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.border_box_shadow {
	border: 1px solid #000000; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.border_box_shadow_topic {
  background-color: #bf80ff;
	border: 0.5px solid #000000; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center; 
	padding: 35px;
}
.border_box_shadow_p {
	border: 1px solid #000000; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #d9b3ff;
  padding: 15px;
  border-bottom: none;
  border-top: none;
}
.border_box_shadow_p_2 {
  border: 1px solid #000000; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #d9b3ff;
  padding: 15px;
  border-bottom: none;
  
}
.footer {
  background:linear-gradient(45deg, #ff0099, #493240, #f6f, #b6f, #50c878);
  background-size:200% 200%;
  animation:moveGradient 4s ease infinite;
  border: 1px solid #000000; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  color: #000000;
  text-align: center;
}
.border_box_shadow_code {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  background-color: #e699ff; 
  border: 1px solid #000000; 
  border-bottom: none;
}
.border_box_shadow_code_2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  background-color: #730099; 
  border: 1px solid #000000; 
  border-bottom: none;
}
.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid #000000; 
}
/* navbar */
ul {
  list-style-type: none;
  border: 0.5px solid #000000; 
  border-bottom: none;
  border-top: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #730099;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 18px;
  padding: 4px;
  justify-content: center; 

}

li {
	float: left;
	padding: 2px;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
	background-image: -webkit-linear-gradient(top, #8000ff, #f2e6ff); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, #8000ff, #f2e6ff); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, #8000ff, #f2e6ff); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, #8000ff, #f2e6ff); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient(to bottom, #8000ff, #f2e6ff); /* Standard syntax; must be last */
	opacity: 0.2;
  box-shadow: 0 0 10px 5px #000;
  border: 1px solid #000000; 
}

@media only screen and (max-width: 700px) {
    li {
        float: none;
    }
}


.active {
	background-image: -webkit-linear-gradient(top, #8000ff, #f2e6ff); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, #8000ff, #f2e6ff); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, #8000ff, #f2e6ff); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, #8000ff, #f2e6ff); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient(to bottom, #8000ff, #f2e6ff); /* Standard syntax; must be last */
  opacity: 0.2;
  box-shadow: 0 0 10px 5px #000;
  border: 1px solid #000000; 
}
.main_heading {
  background:linear-gradient(100deg, #66003d, #493240, #660066, #2a004d, #50c878);
  background-size:200% 200%;
  animation:moveGradient 4s ease infinite;
	border: 1px solid #000000; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center; 
	padding: 70px 0; 
  margin-top: 0;
}
@keyframes moveGradient {

  0% {background-position:0% 50%;}

  50% {background-position:100% 50%;}

  100% {background-position:0% 50%;}

}
.iframe_specs {
	height: 80vh;
	width: 100%;
	border: 0;'
	padding: 0;
}

code {
  color: #ffffff;
  padding: 2px;
}
button {
	background-image: -webkit-linear-gradient(top, #8000ff, #f2e6ff); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, #8000ff, #f2e6ff); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, #8000ff, #f2e6ff); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, #8000ff, #f2e6ff); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient(to bottom, #8000ff, #f2e6ff); /* Standard syntax; must be last */
	border: 1px solid #000000;
	border-radius: 3px;
}
input {
	background-image: -webkit-linear-gradient(top, #8000ff, #f2e6ff); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(top, #8000ff, #f2e6ff); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(top, #8000ff, #f2e6ff); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(top, #8000ff, #f2e6ff); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient(to bottom, #8000ff, #f2e6ff); /* Standard syntax; must be last */
  width:60%;
  border: 0;
  padding: 1px;
}

.container {
  display: flex;
  align-items: flex-start;
  border: 1px solid #000000; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #e6ccff; 
	padding: 15px;
  border-top: none;
}
.image {
    margin-right: 15px;
    padding-left: 5px;
}

@media only screen and (max-width: 700px) {
    .container {
        display: block;
    }
}

.spin-image {
  animation: img-spin 10s linear infinite;
}

@keyframes img-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.type {
  display:inline-flex;
}

.type span {
  word-break: break-all;
  height: 1.2em;
  width:0%;
  overflow: hidden;
  animation:t 4s linear infinite alternate;
}
.type span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  90%,100% {width:100%}
}

#resizehtmltext { /* the height will be 12 * amount of lines in textbox, adjust height in html file */
		background-color: #262626 !important;
		color: #999999 !important;
    display: block;
    resize: none;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

#resizehtmltext2 { /* the height will be 12 * amount of lines in textbox, adjust height in html file */
		background-color: #4d004d !important;
		color: #999999 !important;
    display: block;
    resize: none;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}

.divider {
    height: 5px;
    background: linear-gradient(to bottom, #8000ff, #ffffff, #8000ff);
    width: 100%;
}

.welcome {
  width: 100px;
  position: relative;
  animation-name: welcome_move;
  animation-duration: 5s;
  animation-iteration-count: 5s;
  text-align: center
}

@keyframes welcome_move {
  0%   {color: #8000ff; left:-75px}
  20%  {color: #000000; left:75px}
  40%  {color: #8000ff; left:-75px}
  60%  {color: #000000; left:75px;}
  60%  {color: #8000ff; left:-75px;}
  100% {color: #000000; left:0px;}
}

</style>